<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <div>ООО "Компания К"</div>
        <div>Добро пожаловать</div>
        <div>ККМ 00075411</div>
        <div>ИНН 1087712334345</div>
    </div>
    {{ time }} СИС.
      АДМИ
    {% for i in items %}
        <div>{{ i.item.title }}</div>
        <div>{{ i.quantity }} шт.</div>
        <div>{{ i.item.price }} руб.</div>
    {% endfor %}
    <hr>
    <div>
        ИТОГ
        {{ summa }}
    </div>
    <div>
        НАЛИЧНЫМИ = {{ summa }}
    </div>
    *******************
</body>
</html>